@page
@model Partico.Pages.Order.SuccessModel
@{
    ViewData["Title"] = "Bestelling geplaatst";
}

<h1>Bedankt voor je bestelling!</h1>
<p>Je bestelling is succesvol geplaatst. Je ontvangt binnenkort een bevestiging.</p>
<a asp-page="/Index" class="btn btn-primary mt-3">Terug naar Home</a>
